//
// Font Weight Variables
//
$fontweight-bolder: 900;
$fontsm : 16px;
$placeholder:#B6B6B6;
$grey:#F9FAFC;
$white:#ffffff;
$black: #000;
$border:#DDE5F5;
$form-error:#FF5E5E;

//
// Color Variables
//
$dark-theme-clr: #0C1318;
$light-theme-clr: #0C151B;

