@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0C1318; }
  body.desktop-tpl {
    font-family: 'Lato', sans-serif; }
  body:not(.fp-viewing-0) .header.header-bg {
    background: #0C1318;
    padding: 15px 0;
    opacity: 0.9; }

.img-mobile {
  display: none; }

.container {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px; }

h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600; }

h3 {
  color: #c9c9c9;
  font-size: 24px;
  font-weight: 400; }

.head h2 {
  margin-top: 10px; }
.head h3 {
  text-transform: uppercase;
  opacity: 0.8; }

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.width-900 {
  max-width: 900px;
  margin: auto; }

.text-center {
  text-align: center; }

p {
  color: #bbbbbb;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5; }

img {
  transition: all 0.5s ease 0s;
  max-width: 100%;
  height: auto; }

.default-btn {
  color: #fff;
  text-decoration: none;
  padding: 20px 60px;
  border: 1px #fff solid;
  display: inline-block;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out; }

.default-btn .angle-icon {
  font-size: 26px;
  margin-left: 10px;
  vertical-align: middle; }

.default-btn:hover {
  color: #0c1318;
  border: 1px #0c1318 solid;
  background: #ffffff; }

.height-100 {
  height: 100vh; }

.padding-tb-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.padding-t-100 {
  padding-top: 100px; }

.padding-b-100 {
  padding-bottom: 100px; }

.margin-t-100 {
  margin-top: 100px; }

.owl-carousel .owl-stage {
  transition: 0.8s !important; }
.owl-carousel .owl-item {
  -webkit-animation-duration: 3s !important;
  animation-duration: 3s !important;
  opacity: 0.2;
  transition: all 0.1s ease-in-out; }
  .owl-carousel .owl-item.active {
    opacity: 1; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  padding: 60px 0;
  transition: all 0.3s ease-in-out; }
  .header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in; }
    .header nav ul li {
      display: inline-block;
      margin: 0 30px; }
      .header nav ul li:last-child {
        margin-right: 0; }
      .header nav ul li a {
        color: #ffffff;
        font-weight: 400;
        text-decoration: none;
        font-size: 24px;
        position: relative; }
        .header nav ul li a:after {
          content: "";
          clear: both;
          display: block;
          width: 0;
          transition: all 0.3s ease-in-out; }
        .header nav ul li a:hover:after {
          content: "";
          clear: both;
          display: block;
          height: 2px;
          width: 100%;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: 0;
          margin: auto; }
  .header .heder-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .heder-inner img {
      width: 250px; }

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000; }
  .hamburger .hamburger-line {
    background: #ffffff;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%; }
  .hamburger .hamburger-line-top {
    top: 3px; }
  .hamburger .hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%); }
  .hamburger .hamburger-line-bottom {
    bottom: 3px; }

.menu-active {
  overflow: hidden; }
  .menu-active .header {
    height: 100%; }
  .menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%); }
  .menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0; }
  .menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%); }

.hero-slider-section {
  position: relative;
  overflow: hidden;
  height: 100vh; }
  .hero-slider-section::after {
    content: "";
    clear: both;
    display: block;
    background: -moz-linear-gradient(left, #0c1318 19%, rgba(255, 255, 255, 0.02) 98%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, #0c1318 19%, rgba(255, 255, 255, 0.02) 98%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #0c1318 19%, rgba(255, 255, 255, 0.02) 98%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1318', endColorstr='#00ffffff',GradientType=1 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .hero-slider-section .follow-us {
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 24px; }
    .hero-slider-section .follow-us .follow-txt {
      color: #ffffff;
      opacity: 0.8; }
    .hero-slider-section .follow-us a {
      color: #ffffff;
      opacity: 0.8;
      display: inline-block;
      margin-left: 20px; }
      .hero-slider-section .follow-us a i {
        transform: rotate(90deg) !important; }
      .hero-slider-section .follow-us a:hover {
        opacity: 1; }
    .hero-slider-section .follow-us .line {
      width: 40px;
      height: 2px;
      background: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-left: 20px; }
  .hero-slider-section .hero-slider-outer {
    display: flex;
    align-items: center; }
  .hero-slider-section .banner-content {
    position: absolute;
    color: #ffffff;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    width: 100%; }
    .hero-slider-section .banner-content .banner-sub-head {
      font-size: 30px;
      font-weight: 500; }
    .hero-slider-section .banner-content h1 {
      font-size: 64px;
      max-width: 1030px;
      margin-top: 15px;
      font-weight: 600;
      text-transform: capitalize; }
    .hero-slider-section .banner-content p {
      font-size: 24px;
      margin-top: 20px;
      font-weight: 400;
      color: #ffffff;
      opacity: 0.8;
      max-width: 1200px;
      line-height: 1.5; }

.award-slider-section {
  margin-top: 100px; }
  .award-slider-section .award-slider {
    margin-top: 40px;
    padding: 0 20px; }
  .award-slider-section .owl-carousel .owl-item img {
    width: auto;
    margin: auto; }
  .award-slider-section .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center; }
  .award-slider-section .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
    width: 100%; }
  .award-slider-section .owl-carousel button.owl-prev {
    float: left; }
  .award-slider-section .owl-carousel button.owl-next {
    float: right; }
  .award-slider-section h4 {
    font-size: 24px;
    color: #c9c9c9;
    opacity: 0.6;
    font-weight: 400;
    text-transform: capitalize; }
  .award-slider-section .glider {
    overflow: hidden; }
  .award-slider-section .glider-track {
    text-align: center;
    align-items: center; }

.about-us-section h2 {
  margin-bottom: 10px; }
.about-us-section .img-box {
  width: 45%; }
.about-us-section .right-box {
  padding-left: 30px;
  width: 55%; }
.about-us-section .button-box {
  margin-top: 90px; }

.about-icon-box-outer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 70px; }
  .about-icon-box-outer span {
    display: block; }
  .about-icon-box-outer .icon-txt-outer {
    margin-top: 15px; }
  .about-icon-box-outer .icon-txt-big {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600; }
  .about-icon-box-outer .icon-txt-small {
    color: #b0b0b0;
    font-size: 20px;
    margin-top: 5px;
    text-transform: capitalize; }

.product-section {
  background-color: #0C151B; }
  .product-section h2 {
    margin-bottom: 10px; }
  .product-section .product-outer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  .product-section .our-products .product-inner {
    padding: 40px 15px;
    border: 1px #bbbbbb solid;
    margin: 0 20px;
    text-align: center;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    height: 100%; }
    .product-section .our-products .product-inner:hover {
      background: #e7e4e40d; }
      .product-section .our-products .product-inner:hover .arrow-icon {
        opacity: 1; }
  .product-section .our-products .logo-img {
    height: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
  .product-section .our-products p {
    font-size: 16px; }
  .product-section .our-products .arrow-icon {
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    margin-top: 20px;
    display: block; }

.technology-section .technology-icon-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  .technology-section .technology-icon-box .icon-txt {
    display: block;
    color: #bbbbbb;
    font-size: 18px;
    margin-top: 10px; }
  .technology-section .technology-icon-box .row-box {
    text-align: center;
    padding: 0 10px;
    flex-basis: 100%; }
    .technology-section .technology-icon-box .row-box .col-box:first-child {
      margin-bottom: 50px; }
    .technology-section .technology-icon-box .row-box .col-box .icon-img {
      height: 70px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center; }

.client-section {
  background-color: #0C151B; }
  .client-section .head {
    margin-bottom: 60px; }
  .client-section .client-icon-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center; }
    .client-section .client-icon-box .client-logo {
      width: 20%;
      margin-top: 50px; }

.blog-section .blog-outer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
.blog-section .blog-content-box {
  padding: 20px;
  background-color: #070e13;
  height: 100%; }
.blog-section .blog-box {
  padding: 0 20px;
  flex-basis: 100%; }
  .blog-section .blog-box a {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 10px 10px; }
    .blog-section .blog-box a:hover .blog-content-box {
      opacity: 0.9; }
.blog-section .blog-img {
  height: 390px; }
  .blog-section .blog-img img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    vertical-align: bottom;
    height: 100%; }
.blog-section .blog-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bbbbbb;
  font-size: 14px; }
  .blog-section .blog-info img {
    vertical-align: middle;
    margin-right: 5px; }
  .blog-section .blog-info .editor {
    vertical-align: middle; }
  .blog-section .blog-info i {
    margin-right: 5px; }
.blog-section .blog-content {
  margin-top: 22px; }

.footer {
  background-color: #070e13;
  padding: 40px 0; }
  .footer .footer-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    .footer .footer-inner p {
      font-size: 22px;
      margin: 0; }
    .footer .footer-inner nav li {
      display: inline-block;
      margin: 0 20px; }
      .footer .footer-inner nav li a {
        color: #ffffff;
        font-size: 24px;
        text-decoration: none; }
        .footer .footer-inner nav li a:hover {
          text-decoration: underline; }
  .footer .follow-link {
    display: block;
    text-align: center;
    margin-top: 10px; }
    .footer .follow-link a {
      color: #ffffff;
      font-size: 16px;
      margin: 0 5px; }

.about-hero-section .banner-content {
  top: 50%;
  transform: translateY(-40%); }
.about-hero-section .flexbox {
  align-items: center; }
.about-hero-section .follow-us {
  top: 40%; }
.about-hero-section h2 {
  margin-top: 10px; }
.about-hero-section .content-block {
  padding-right: 40px;
  width: 65%; }
.about-hero-section .img-box {
  width: 35%;
  text-align: right; }
  .about-hero-section .img-box img {
    width: 100%; }
.about-hero-section .img-right-space {
  padding-right: 30px; }

.our-mission-section {
  background-color: #0C151B; }
  .our-mission-section .flexbox {
    justify-content: space-between; }
  .our-mission-section .img-box {
    flex-basis: 72%; }
  .our-mission-section .right-box {
    flex-basis: 100%;
    margin-top: 20px; }
  .our-mission-section .icon-content-box {
    margin-top: 50px; }
    .our-mission-section .icon-content-box:first-child {
      padding-right: 10%; }
  .our-mission-section .icon-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
  .our-mission-section .icon-txt {
    color: #ffffff;
    font-size: 24px;
    margin-left: 20px; }

.our-journey-section .img-box {
  margin-top: 50px; }
  .our-journey-section .img-box img {
    max-width: 1562px;
    width: 100%; }

.our-culture-section {
  background-color: #0C151B; }
  .our-culture-section h4 {
    color: #ffffff;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 400; }
  .our-culture-section .flexbox {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px; }
  .our-culture-section .icon-content-box {
    width: 33.33%;
    padding: 0 30px;
    margin-top: 50px; }

.our-team-section .img-box-outer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
.our-team-section .space-evenly {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
.our-team-section .mrg-t30 {
  margin-top: 40px; }
.our-team-section .team-box img {
  border-radius: 6px;
  max-width: fit-content; }
.our-team-section .team-box-wide {
  padding: 0 20px; }

.awards-section {
  background-color: #0C1318; }

.current-openings-section {
  background-color: #ffffff; }
  .current-openings-section h2,
  .current-openings-section h3 {
    color: #0C1318; }
  .current-openings-section .search-box-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  .current-openings-section .current-oppenings {
    margin-top: 80px; }
    .current-openings-section .current-oppenings iframe {
      width: 100%;
      max-height: 1400px;
      border: 0; }
  .current-openings-section .select-box-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
    margin: 0 15px; }
    .current-openings-section .select-box-inner .select-box,
    .current-openings-section .select-box-inner .search-box {
      -webkit-appearance: none;
      background-color: transparent;
      padding: 20px 30px;
      width: 100%;
      border: 1px #696969 solid;
      border-radius: 10px;
      cursor: pointer;
      color: #bbbbbb;
      font-size: 26px;
      z-index: 1; }
      .current-openings-section .select-box-inner .select-box:focus,
      .current-openings-section .select-box-inner .search-box:focus {
        outline: none; }
    .current-openings-section .select-box-inner .arrow-icon {
      color: #bbbbbb;
      position: absolute;
      right: 20px;
      font-size: 26px;
      z-index: 0; }
    .current-openings-section .select-box-inner .search-box {
      padding-right: 60px;
      cursor: inherit; }
    .current-openings-section .select-box-inner ::placeholder {
      color: #bbbbbb; }
    .current-openings-section .select-box-inner option {
      color: #ffffff;
      background-color: #0C151B; }
  .current-openings-section .search-box-inner {
    width: 40%; }

.all-openings-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px; }
  .all-openings-section .openings-box-outer {
    padding: 20px 15px;
    width: 50%; }
    .all-openings-section .openings-box-outer .openings-box {
      text-decoration: none;
      display: inline-block;
      padding: 60px 40px;
      border: 1px #696969 solid;
      border-radius: 16px;
      width: 100%;
      transition: all 0.3s ease-in-out; }
      .all-openings-section .openings-box-outer .openings-box:hover {
        background: #e7e4e40d; }
    .all-openings-section .openings-box-outer h4 {
      font-size: 30px;
      color: #ffffff;
      line-height: 1.4;
      height: 100px; }
    .all-openings-section .openings-box-outer .location-exp {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-top: 40px;
      justify-content: space-between; }
    .all-openings-section .openings-box-outer span {
      font-size: 18px;
      color: #bbbbbb; }
      .all-openings-section .openings-box-outer span i {
        color: #2f75ff;
        margin-right: 10px; }

.contact-us-section {
  background-color: #0C151B;
  max-width: 1300px;
  margin: 180px auto 100px;
  padding: 40px 0 20px;
  border-radius: 10px; }
  .contact-us-section .contact-us-outer {
    max-width: 1000px;
    margin: 0 auto; }
  .contact-us-section .phone-boxes {
    text-align: center;
    margin: 20px 0 40px;
    padding-bottom: 40px;
    border-bottom: 1px #303030 solid; }
    .contact-us-section .phone-boxes li {
      color: #ffffff;
      list-style-type: none;
      margin: 10px 40px;
      display: inline-block;
      font-size: 16px;
      color: #bbbbbb; }
    .contact-us-section .phone-boxes h6 {
      font-size: 18px;
      margin-bottom: 10px; }
  .contact-us-section .form-box-outer {
    margin-top: 20px; }
  .contact-us-section .call-box {
    margin-top: 20px; }
    .contact-us-section .call-box span,
    .contact-us-section .call-box a {
      color: #bbbbbb;
      text-decoration: none; }
    .contact-us-section .call-box span {
      background: #0C1318;
      display: inline-block;
      font-size: 24px;
      padding: 20px 40px; }
  .contact-us-section .form-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contact-us-section .form-text-cont {
    width: 50%;
    padding: 0 20px;
    margin-top: 30px;
    position: relative; }
  .contact-us-section .width-full {
    width: 100%; }
  .contact-us-section label {
    color: #bbbbbb;
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
  .contact-us-section .error {
    color: darkred;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 13px; }
  .contact-us-section ::placeholder {
    color: #696969; }
  .contact-us-section .input-field {
    border: 1px #696969 solid;
    border-radius: 10px;
    padding: 20px;
    background: transparent;
    width: 100%;
    color: #bbbbbb;
    font-size: 16px; }
  .contact-us-section .comment-input {
    height: 200px; }
  .contact-us-section textarea {
    resize: none; }
  .contact-us-section .drop-input {
    position: relative;
    bottom: 60px;
    left: 0;
    padding: 0 20px; }
    .contact-us-section .drop-input ul {
      margin-top: 45px;
      list-style-type: none; }
      .contact-us-section .drop-input ul li {
        background: #656464;
        border-bottom: 1px solid #3d4043;
        padding: 15px;
        height: 52px;
        position: relative;
        margin: 0; }
    .contact-us-section .drop-input .showicon {
      width: 15px;
      height: 12px;
      background: url(../images/icons.webp) no-repeat scroll 0 -14px transparent;
      position: absolute;
      top: 21px;
      right: 33px;
      cursor: pointer; }
    .contact-us-section .drop-input p {
      width: 278px;
      overflow: hidden;
      white-space: nowrap;
      color: #eee;
      font-size: 16px;
      font-weight: 700;
      position: absolute;
      top: 1px;
      left: 100px;
      margin: 0; }
      .contact-us-section .drop-input p i {
        font-weight: 400;
        font-style: normal;
        display: block; }
    .contact-us-section .drop-input .input-file {
      color: #bbbbbb; }
  .contact-us-section .drop-box {
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #0C1318;
    font-size: 12px;
    color: #bbbbbb; }
  .contact-us-section .checkout {
    margin-top: 40px;
    padding: 0 20px; }
  .contact-us-section .checkout-submit {
    background: #2f75ff;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .contact-us-section .checkout-submit:hover {
      background: #1f69fb; }
  .contact-us-section .note {
    padding: 0 20px; }
    .contact-us-section .note p {
      color: #807d7d;
      font-size: 18px; }
  .contact-us-section .form-footer {
    border-top: 1px #303030 solid;
    margin-top: 70px;
    padding-top: 20px; }
    .contact-us-section .form-footer .icon {
      margin-right: 10px; }

.thanks-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .thanks-section .thanks-inner {
    max-width: 1018px;
    margin: 0 auto; }
  .thanks-section h2 {
    font-size: 96px;
    font-weight: 600;
    margin-top: 30px; }
  .thanks-section p {
    font-size: 24px;
    color: #bbbbbb;
    margin-top: 30px; }
  .thanks-section ul {
    margin-top: 80px; }
    .thanks-section ul li {
      display: inline-block;
      margin: 0 10px; }
      .thanks-section ul li a {
        color: #ffffff;
        font-size: 28px;
        opacity: 0.8;
        transition: all 0.3s ease-in-out; }
        .thanks-section ul li a:hover {
          opacity: 1; }
  .thanks-section .thanks-footer p {
    margin-top: 50px; }
  .thanks-section .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }

.productpge .award-slider-section {
  margin-top: 180px; }
  .productpge .award-slider-section .product-award-slider .owl-nav {
    top: 40%; }
  .productpge .award-slider-section .product-award-slider .owl-dots {
    text-align: center;
    position: relative;
    top: 75px; }
    .productpge .award-slider-section .product-award-slider .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      background: rgba(196, 196, 196, 0.29);
      margin: 0 5px;
      border-radius: 50%; }
      .productpge .award-slider-section .product-award-slider .owl-dots .owl-dot.active {
        width: 15px;
        height: 15px;
        background: #c4c4c4; }
.productpge .about-us-section .right-box {
  padding-left: 130px; }
.productpge .about-us-section p {
  font-size: 20px; }
.productpge .about-us-section .list-item {
  margin-top: 6px; }
  .productpge .about-us-section .list-item ul li {
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    display: inline-block;
    width: 49%;
    margin: 14px 0;
    position: relative;
    padding-left: 25px;
    vertical-align: top; }
    .productpge .about-us-section .list-item ul li::before {
      content: "";
      background: url(../images/list-icon.png);
      position: absolute;
      left: 0;
      z-index: 0;
      width: 19px;
      height: 19px;
      top: 2px; }
  .productpge .about-us-section .list-item.list-item-3 ul li {
    width: 32%; }
.productpge .client-section {
  height: auto !important; }
  .productpge .client-section .client-icon-box {
    justify-content: inherit; }
    .productpge .client-section .client-icon-box .client-logo {
      margin: 20px 0; }

.valuecoders-our-team-section .dis-flex {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap; }
.valuecoders-our-team-section .flex-4 {
  margin-top: 27px;
  padding: 0 10px;
  flex-basis: 25%; }
.valuecoders-our-team-section h3 {
  color: #ffffff; }
.valuecoders-our-team-section h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 2px;
  color: #ffffff; }
.valuecoders-our-team-section .profile-box {
  position: relative; }
  .valuecoders-our-team-section .profile-box img {
    width: 100%;
    filter: grayscale(1); }
  .valuecoders-our-team-section .profile-box .profile-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(29, 28, 57, 0.47);
    backdrop-filter: blur(8.09195px);
    padding: 14px;
    text-align: center; }
    .valuecoders-our-team-section .profile-box .profile-text p {
      display: none;
      color: #ffffff;
      font-size: 14px;
      line-height: 20px;
      margin-top: 2px; }
  .valuecoders-our-team-section .profile-box:hover img {
    filter: sepia(1); }
  .valuecoders-our-team-section .profile-box:hover .profile-text p {
    display: block; }

.employee-testimonial-career-section .dis-flex {
  display: flex;
  flex-wrap: wrap; }
.employee-testimonial-career-section .flex-3 {
  flex-basis: 33.33%; }
.employee-testimonial-career-section .first-box {
  flex-basis: 66.66%; }
.employee-testimonial-career-section .second-box {
  flex-basis: 33.33%; }
.employee-testimonial-career-section .first-row-last-col .content-box {
  min-height: 327px; }
.employee-testimonial-career-section .client-description {
  padding: 30px 0;
  text-align: center;
  background: #090E12;
  border-radius: 10px;
  height: 100%; }
  .employee-testimonial-career-section .client-description p {
    padding: 0 63px 52px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; }
  .employee-testimonial-career-section .client-description span.client-name {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%; }
  .employee-testimonial-career-section .client-description span.client-quote {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #bbbbbb; }
  .employee-testimonial-career-section .client-description span {
    display: block;
    text-align: center; }
.employee-testimonial-career-section .flex-3 {
  border-radius: 10px; }
  .employee-testimonial-career-section .flex-3 .shadow-box {
    height: 100%; }
    .employee-testimonial-career-section .flex-3 .shadow-box iframe {
      vertical-align: bottom;
      border: 0;
      outline: 0;
      width: 100%;
      border-radius: 10px 10px 0 0; }
.employee-testimonial-career-section .flex-3,
.employee-testimonial-career-section .flex-2 {
  padding: 0 12px;
  margin-top: 20px;
  overflow: hidden; }
.employee-testimonial-career-section .content-box-outer {
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
  position: relative; }
  .employee-testimonial-career-section .content-box-outer:hover {
    box-shadow: 0px 1px 10px 1px rgba(10, 10, 22, 0.2);
    border-radius: 10px; }
.employee-testimonial-career-section .content-box {
  position: relative;
  border-radius: 10px 10px 0 0;
  padding: 61px 63px 50px;
  background: #090E12;
  min-height: 670px; }
  .employee-testimonial-career-section .content-box::before {
    content: "";
    clear: both;
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/quotes-icon.png) no-repeat;
    position: absolute;
    left: 39px; }
  .employee-testimonial-career-section .content-box p {
    font-size: 18px;
    margin-top: 20px;
    color: #BBBBBB; }
.employee-testimonial-career-section .cust-img-box {
  position: absolute;
  padding: 30px 65px;
  background: #0C1318;
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  left: 0;
  width: 100%; }
.employee-testimonial-career-section h5 {
  font-size: 18px;
  color: #fff; }
.employee-testimonial-career-section h6 {
  font-size: 16px;
  font-weight: 500;
  color: #BBBBBB; }
.employee-testimonial-career-section .rating {
  width: 90px;
  height: 13px;
  background: url(../images/career-rating-img.png) no-repeat;
  display: block;
  margin-top: 10px; }
.employee-testimonial-career-section .profile {
  margin-right: 20px; }
.employee-testimonial-career-section .flex-2 .content-box {
  min-height: 560px; }

@media only screen and (max-width: 1700px) {
  h2 {
    font-size: 38px; }

  h3 {
    font-size: 20px; }

  .header {
    padding: 40px 0; }
    .header nav ul li a {
      font-size: 22px; }

  .hero-slider-section .banner-content .banner-sub-head {
    font-size: 28px; }
  .hero-slider-section .banner-content p {
    font-size: 20px; }
  .hero-slider-section .follow-us {
    right: -7%; }

  .about-us-section .button-box {
    margin-top: 70px; }
  .about-us-section .img-box img {
    width: 100%; }

  .about-icon-box-outer {
    margin-top: 50px; }

  .footer .footer-inner p,
  .footer .footer-inner nav li a {
    font-size: 20px; }

  .our-team-section .mrg-t30 {
    margin-top: 30px; }

  .our-team-section .img-box-outer {
    overflow: hidden; }

  .contact-us-section {
    margin-top: 160px; }

  .thanks-section img {
    max-width: 120px; }

  .blog-section .blog-img {
    height: 350px; }

  .employee-testimonial-career-section .content-box {
    min-height: 857px; }
  .employee-testimonial-career-section .flex-2 .content-box {
    min-height: 730px; } }
@media only screen and (max-width: 1600px) {
  .header .heder-inner img {
    width: 200px; }

  p {
    margin: 15px 0; }

  .padding-tb-100 {
    padding-top: 80px;
    padding-bottom: 80px; }

  .valuecoders-our-team-section h5 {
    font-size: 14px; }

  .award-slider-section {
    margin-top: 60px; }
    .award-slider-section .award-slider {
      margin-top: 30px; }

  .about-icon-box-outer {
    margin-top: 20px; }
    .about-icon-box-outer .icon-txt-outer {
      margin-top: 5px; }
    .about-icon-box-outer .icon-txt-big {
      font-size: 28px; }
    .about-icon-box-outer .icon-txt-small {
      font-size: 16px; }

  .margin-t-100 {
    margin-top: 60px; }

  .employee-testimonial-career-section .content-box {
    padding: 30px;
    min-height: 540px; }
    .employee-testimonial-career-section .content-box p {
      font-size: 14px;
      line-height: 24px; }
    .employee-testimonial-career-section .content-box::before {
      left: 20px; }
  .employee-testimonial-career-section .cust-img-box {
    padding: 30px; }
    .employee-testimonial-career-section .cust-img-box h5 {
      font-size: 15px; }
    .employee-testimonial-career-section .cust-img-box h6 {
      font-size: 13px;
      font-weight: 500; }
  .employee-testimonial-career-section .flex-2 .content-box {
    min-height: 460px; }
  .employee-testimonial-career-section .client-description p {
    padding: 0 29px 36px; }
  .employee-testimonial-career-section .client-description span.client-name {
    font-size: 16px; }
  .employee-testimonial-career-section .client-description span.client-quote {
    font-size: 16px; } }
@media only screen and (max-width: 1440px) {
  h2 {
    font-size: 30px; }

  h3 {
    font-size: 18px; }

  p {
    font-size: 16px;
    margin: 10px 0; }

  .default-btn {
    padding: 15px 40px;
    font-size: 18px; }

  .header {
    padding: 30px 0; }
    .header nav ul li {
      margin: 0 20px; }
      .header nav ul li a {
        font-size: 20px; }

  .header.header-bg {
    padding: 15px 0; }

  .about-us-section .head {
    margin-bottom: 20px; }

  .about-icon-box-outer .icon-txt-big {
    font-size: 24px; }
  .about-icon-box-outer .icon-txt-small {
    font-size: 14px; }

  .award-slider-section {
    margin-top: 50px; }
    .award-slider-section h4 {
      font-size: 18px; }
    .award-slider-section .owl-carousel .owl-item img {
      max-width: 140px;
      max-height: 60px; }

  .hero-slider-section .follow-us {
    font-size: 18px; }
  .hero-slider-section .banner-content p {
    font-size: 18px;
    max-width: 900px; }
  .hero-slider-section .banner-content h1 {
    font-size: 44px;
    max-width: 900px; }
  .hero-slider-section .banner-content .banner-sub-head {
    font-size: 24px; }

  .about-hero-section .banner-content {
    top: 54%; }
  .about-hero-section .img-box img {
    width: 100%; }

  .product-section .our-products p {
    font-size: 14px; }
  .product-section .our-products .product-inner {
    margin: 0 10px;
    padding: 20px 15px; }

  .technology-section .technology-icon-box .icon-txt {
    font-size: 16px; }

  .footer .footer-inner p,
  .footer .footer-inner nav li a {
    font-size: 16px; }

  .blog-section .blog-box {
    padding: 0 10px; }
  .blog-section .blog-img {
    height: 290px; }

  .our-team-section .img-box-outer {
    max-width: 1400px; }

  .our-team-section .mrg-t30 {
    margin-top: 20px; }

  .current-openings-section .select-box-inner .arrow-icon {
    font-size: 20px; }
  .current-openings-section .select-box-inner .select-box,
  .current-openings-section .select-box-inner .search-box {
    font-size: 22px; }

  .all-openings-section .openings-box-outer h4 {
    font-size: 24px; }

  .contact-us-section {
    max-width: 1200px; }
    .contact-us-section .checkout-submit {
      font-size: 18px;
      padding: 18px 30px; }
    .contact-us-section label {
      font-size: 16px; }
    .contact-us-section .drop-box {
      padding: 10px; }
    .contact-us-section .note p {
      font-size: 16px; }
    .contact-us-section .call-box span {
      font-size: 18px;
      padding: 15px 30px; }

  .thanks-section h2 {
    font-size: 76px; }
  .thanks-section p {
    font-size: 20px; }

  .our-mission-section .right-box {
    padding-left: 60px; }

  .our-culture-section .icon-content-box {
    padding: 0 15px; }

  .thanks-section img {
    max-width: 100px; }
  .thanks-section ul {
    margin-top: 40px; }
    .thanks-section ul a {
      font-size: 22px; }

  .homepge {
    overflow: inherit; }

  .productpge .about-us-section p {
    font-size: 16px; }
  .productpge .about-us-section .list-item ul li {
    font-size: 16px;
    margin: 8px 0; } }
@media only screen and (max-width: 1320px) {
  .employee-testimonial-career-section .content-box {
    min-height: 600px; }
  .employee-testimonial-career-section .flex-2 .content-box {
    min-height: 500px; } }
@media only screen and (max-width: 1200px) {
  .padding-tb-100 {
    padding-top: 60px;
    padding-bottom: 60px; }

  .margin-t-100 {
    margin-top: 60px; }

  .hero-slider-section {
    height: auto;
    overflow: inherit;
    padding-bottom: 80px; }
    .hero-slider-section .follow-us {
      right: -10%; }
    .hero-slider-section .banner-content .banner-sub-head {
      font-size: 20px; }
    .hero-slider-section .banner-content h1 {
      font-size: 32px; }

  .about-us-section .flexbox {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .about-us-section .img-box {
    margin-bottom: 30px;
    width: 100%; }
  .about-us-section .right-box {
    padding-left: 0;
    width: 100%; }
  .about-us-section .button-box {
    text-align: center; }

  .product-section .product-outer {
    flex-wrap: wrap; }
  .product-section .our-products {
    width: 50%;
    margin: 10px 0; }

  .technology-section .technology-icon-box {
    flex-wrap: wrap; }
    .technology-section .technology-icon-box .row-box {
      width: 16.66%;
      flex-basis: auto; }
      .technology-section .technology-icon-box .row-box .col-box:first-child, .technology-section .technology-icon-box .row-box .col-box:last-child {
        margin-bottom: 20px; }

  .client-section .client-icon-box .client-logo {
    padding: 0 10px; }

  .blog-section .blog-info {
    flex-wrap: wrap;
    justify-content: center; }
    .blog-section .blog-info .date-box {
      margin: 5px 10px; }
  .blog-section .blog-img {
    height: auto; }
    .blog-section .blog-img img {
      height: auto; }

  .about-hero-section .img-box {
    width: 70%; }
    .about-hero-section .img-box img {
      width: 100%; }

  .our-mission-section .icon-content-box:first-child {
    padding-right: 0; }
  .our-mission-section .right-box {
    margin-top: 0; }

  .our-culture-section .flexbox {
    margin-top: 30px; }
  .our-culture-section .icon-content-box {
    padding: 0 10px; }

  .current-openings-section .select-box-inner .select-box,
  .current-openings-section .select-box-inner .search-box,
  .current-openings-section .select-box-inner .arrow-icon {
    font-size: 18px; }

  .all-openings-section .openings-box-outer h4 {
    font-size: 20px; }

  .contact-us-section {
    margin-top: 140px; }
    .contact-us-section .call-box span {
      font-size: 16px; }

  .productpge .hero-slider-section .banner-content h1 {
    padding-top: 50px; }
  .productpge .award-slider-section {
    margin-top: 150px; }
    .productpge .award-slider-section .product-award-slider .owl-nav {
      top: 50%; }
  .productpge .about-us-section .right-box {
    padding-left: 0; }
  .productpge .order-mob .img-box {
    order: 2;
    margin-bottom: 0px; }
  .productpge .order-mob .right-box {
    order: 1;
    margin-bottom: 30px; }
  .productpge .client-section .client-icon-box .client-logo {
    width: 20%; }

  .employee-testimonial-career-section .content-box p {
    font-size: 14px;
    line-height: 26px; }
  .employee-testimonial-career-section .profile {
    margin-right: 20px;
    flex-basis: 28%; }
  .employee-testimonial-career-section .profile-text {
    flex-basis: 63%; } }
@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 16px; }

  .header nav ul li {
    margin: 0 8px; }
    .header nav ul li a {
      font-size: 16px; }

  .hero-slider-section .banner-content .banner-sub-head {
    font-size: 20px; }
  .hero-slider-section .banner-content h1 {
    font-size: 32px; }
  .hero-slider-section .banner-content p {
    font-size: 14px;
    max-width: 600px; }
  .hero-slider-section .follow-us {
    right: -14%;
    font-size: 16px; }

  .about-icon-box-outer .icon-txt-big {
    font-size: 20px; }

  .valuecoders-our-team-section .flex-4 {
    margin-top: 20px;
    flex-basis: 50%; }

  .footer .footer-inner p,
  .footer .footer-inner nav li a {
    font-size: 14px; }

  .our-culture-section h4 {
    font-size: 18px; }

  .our-team-section .img-box-outer {
    flex-direction: column;
    text-align: center;
    align-items: center; }
  .our-team-section .space-evenly {
    flex-direction: column; }
  .our-team-section .team-box-wide {
    padding: 0; }
  .our-team-section .team-box img {
    max-width: 380px; }
  .our-team-section .team-box {
    margin-top: 20px; }

  .our-mission-section .icon-txt {
    font-size: 20px; }

  .all-openings-section .openings-box-outer span {
    font-size: 14px; }

  .contact-us-section {
    padding-top: 40px; }

  .thanks-section p {
    font-size: 16px; }

  .employee-testimonial-career-section .flex-2,
  .employee-testimonial-career-section .flex-3,
  .employee-testimonial-career-section .first-box,
  .employee-testimonial-career-section .second-box {
    flex-basis: 100%; }
  .employee-testimonial-career-section .content-box {
    min-height: auto; }
  .employee-testimonial-career-section .first-row-last-col .content-box {
    min-height: auto; }
  .employee-testimonial-career-section .cust-img-box {
    position: relative; }
  .employee-testimonial-career-section .flex-2 .content-box {
    min-height: auto; }
  .employee-testimonial-career-section .profile {
    margin-right: 10px;
    flex-basis: 14%; }
  .employee-testimonial-career-section .profile-text {
    flex-basis: 80%; } }
@media only screen and (max-width: 767px) {
  .img-mobile {
    display: block; }

  .img-web {
    display: none; }

  body.mobile-tpl {
    font-family: sans-serif; }

  h2 {
    font-size: 20px;
    line-height: 1.2; }

  .container {
    padding: 0 15px; }

  .default-btn {
    padding: 15px 30px;
    font-size: 16px; }

  .margin-t-100 {
    margin-top: 40px; }

  .padding-tb-100 {
    padding-top: 40px;
    padding-bottom: 40px; }

  .valuecoders-our-team-section .dis-flex {
    margin-top: 10px; }
  .valuecoders-our-team-section .flex-4 {
    flex-basis: 100%; }

  .product-section .our-products {
    width: 100%; }
    .product-section .our-products .product-inner {
      height: auto; }

  .hero-slider-section {
    padding-bottom: 30px;
    padding-top: 130px; }
    .hero-slider-section::after {
      background: #0c151b; }
    .hero-slider-section .banner-content {
      top: 0;
      transform: none;
      position: relative; }
      .hero-slider-section .banner-content h1 {
        font-size: 26px; }
        .hero-slider-section .banner-content h1 br {
          display: none; }
      .hero-slider-section .banner-content .banner-sub-head {
        font-size: 16px; }
    .hero-slider-section .hero-slider.owl-carousel {
      display: none; }
      .hero-slider-section .hero-slider.owl-carousel .owl-item img {
        width: auto; }
    .hero-slider-section .follow-us {
      display: none; }

  .about-us-section .img-box img {
    width: 100%; }
  .about-us-section .button-box {
    margin-top: 40px; }

  .about-icon-box-outer {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center; }
    .about-icon-box-outer .about-icon-box {
      width: 50%;
      margin-top: 30px; }

  .award-slider-section .owl-carousel button.owl-prev {
    margin-left: -5px; }
    .award-slider-section .owl-carousel button.owl-prev img {
      max-width: 8px; }
  .award-slider-section .owl-carousel button.owl-next {
    margin-right: -5px; }
    .award-slider-section .owl-carousel button.owl-next img {
      max-width: 8px; }

  .technology-section .technology-icon-box .row-box {
    width: 33.33%; }
    .technology-section .technology-icon-box .row-box .col-box .icon-img img {
      max-width: 40px; }

  .client-section {
    margin-bottom: 20px; }
    .client-section .head {
      margin-bottom: 20px; }
    .client-section .client-icon-box {
      justify-content: space-between; }
      .client-section .client-icon-box .client-logo {
        margin-top: 30px; }

  .blog-section .blog-box {
    margin-top: 30px; }
    .blog-section .blog-box:first-child {
      margin-top: 0; }
  .blog-section .blog-outer {
    flex-wrap: wrap; }
  .blog-section .comment-box {
    margin-top: 5px; }

  .footer {
    padding: 20px 0; }
    .footer .right-footer {
      width: 100%;
      margin-top: 20px;
      text-align: center; }
    .footer .footer-inner {
      flex-wrap: wrap;
      justify-content: center; }
      .footer .footer-inner nav li {
        margin: 0 5px; }

  .hamburger {
    display: inline-block; }

  .header .heder-inner img {
    width: 170px; }
  .header nav ul li {
    margin: 8px 0; }
    .header nav ul li a {
      font-size: 24px; }
      .header nav ul li a:hover::after {
        display: none; }

  .nav-menu {
    background: #0C1318;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
    z-index: 9; }

  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1; }

  .about-hero-section .banner-content {
    transform: none;
    position: relative; }
  .about-hero-section .content-block {
    padding-right: 0;
    width: 100%; }
  .about-hero-section .flexbox {
    flex-wrap: wrap; }
  .about-hero-section .img-box {
    width: 100%;
    margin-top: 30px; }
  .about-hero-section .img-right-space {
    padding-right: 0; }

  .about-hero-section.hero-slider-section {
    height: auto; }

  .our-mission-section .icon-txt {
    font-size: 18px; }

  .our-culture-section .icon-content-box {
    width: 100%;
    padding: 0;
    margin-top: 30px; }

  .award-slider-section .award-slider {
    margin-top: 20px; }

  .awards-section .client-logo img {
    max-width: 80px;
    max-height: 120px; }

  .current-openings-section .current-oppenings {
    margin-top: 40px; }
  .current-openings-section .search-box-container {
    flex-wrap: wrap; }
  .current-openings-section .select-box-inner,
  .current-openings-section .search-box-inner {
    width: 100%;
    margin: 10px 0; }
  .current-openings-section .select-box-inner .select-box,
  .current-openings-section .select-box-inner .search-box {
    padding: 20px 15px;
    font-size: 14px; }
  .current-openings-section .select-box-inner .arrow-icon {
    font-size: 14px; }

  .all-openings-section {
    margin-top: 20px; }
    .all-openings-section .openings-box-outer {
      width: 100%;
      padding: 10px 0; }
      .all-openings-section .openings-box-outer .openings-box {
        padding: 30px 20px; }
      .all-openings-section .openings-box-outer h4 {
        height: auto;
        font-size: 18px; }

  .contact-us-section {
    padding-top: 30px;
    margin-top: 120px;
    margin-bottom: 40px; }
    .contact-us-section .form-box-outer {
      margin-top: 10px; }
    .contact-us-section .form-text-cont {
      padding: 0;
      width: 100%; }
    .contact-us-section .call-box span {
      padding: 15px;
      font-size: 13px; }
    .contact-us-section .input-field {
      padding: 15px;
      font-size: 14px; }
    .contact-us-section .drop-input {
      padding: 0; }
      .contact-us-section .drop-input #dropcontact {
        margin-left: 10px; }
      .contact-us-section .drop-input p {
        left: 80px; }
    .contact-us-section .note {
      padding: 0; }
      .contact-us-section .note p {
        font-size: 12px; }
    .contact-us-section .checkout-submit {
      font-size: 16px;
      padding: 15px 20px; }
    .contact-us-section .contact-us-outer p {
      font-size: 14px; }
    .contact-us-section .form-footer {
      margin-top: 40px; }
    .contact-us-section .checkout {
      padding: 0; }

  .thanks-section h2 {
    font-size: 46px; }
  .thanks-section p {
    font-size: 16px; }

  .thanks-section p {
    font-size: 14px;
    margin-top: 20px; }
  .thanks-section ul {
    margin-top: 50px; }

  .glider-slide img {
    max-width: 80%; }

  .productpge .hero-slider-section .banner-content h1 {
    padding-top: 0px; }
  .productpge .award-slider-section {
    margin-top: 50px; }
  .productpge .about-us-section .list-item ul li {
    width: 100%; }
  .productpge .about-us-section .list-item.list-item-3 ul li {
    width: 49%; }

  .employee-testimonial-career-section .cust-img-box {
    padding: 0 10px; }
  .employee-testimonial-career-section .client-description {
    padding: 20px 0;
    height: auto; }
  .employee-testimonial-career-section .flex-3 .shadow-box iframe {
    height: 180px; }
  .employee-testimonial-career-section .first-row-last-col .content-box {
    padding-top: 10px; }
  .employee-testimonial-career-section .flex-2,
  .employee-testimonial-career-section .flex-3 {
    padding: 0px; }
  .employee-testimonial-career-section .first-box {
    flex-basis: 100%; }
  .employee-testimonial-career-section .second-box {
    flex-basis: 100%; }
  .employee-testimonial-career-section .content-box {
    padding: 20px 10px; }
    .employee-testimonial-career-section .content-box::before {
      left: 0; }
    .employee-testimonial-career-section .content-box p {
      margin-top: 0; }
      .employee-testimonial-career-section .content-box p:first-child {
        margin-top: 20px; }
  .employee-testimonial-career-section .client-description p {
    padding: 0 30px 38px; }
  .employee-testimonial-career-section .flex-3,
  .employee-testimonial-career-section .flex-2 {
    margin-top: 15px; } }

/*# sourceMappingURL=style.css.map */
